.pokemon_container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 10px;

}
@media(max-width: 768px) {
    .pokemon_container{
        grid-template-columns:  repeat(2, 1fr);
    }
}
.link{
    text-decoration: none;
    color: black;
}